body{
    background-color:#fff7ef;
    font-family:Arial, Helvetica, sans-serif;
    color:#333;
    margin:30px;
}

h1{
    background-color:#d2691e;
    color:white;
    text-align:center;
    padding:15px;
}

h2{
    color:#8b4513;
    border-bottom:2px solid #d2691e;
    margin-top:40px;
}

table{
    width:900px;
    border-collapse:collapse;
    margin-top:20px;
    margin-bottom:30px;
}

th{
    background-color:#8b4513;
    color:white;
    border:1px solid black;
    padding:10px;
}

td{
    border:1px solid black;
    padding:10px;
}

ol, ul{
    padding-left:20px;
}

a{
    color:#b22222;
    text-decoration:none;
}

a:hover{
    color:red;
    text-decoration:underline;
}

.solido{
    background-color:#fff2b2;
    color:#8b4513;
}

.liquido{
    background-color:#dff7ff;
    color:#005577;
}

.valor{
    color:blue;
    font-weight:bold;
}

.total{
    color:green;
    font-weight:bold;
}